/*WORLD SETUP*/
#world {
	background-color: black;
	width: 60%;
	height: 99%;
	position: absolute;
	display: inline-grid;
	grid-template-columns: repeat(21,auto);
}


/*DYNAMIC CONTENT*/
div.coin{
	height:100%;
    background-image: url(../img/coin.gif);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 2em;
}
div.cherries{
	height:100%;
    background-image: url(../img/cherries.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;    
}

/*BRICKS*/
div.brick{
	height:100%;
    background-color: blue;
}
div.left{
    border-top-left-radius: 100%;
    border-bottom-left-radius: 100%;
}
div.right{
	height:100%;
    border-top-right-radius: 100%;
    border-bottom-right-radius: 100%;
}
div.top{
	height:100%;
    border-top-left-radius: 100%;
    border-top-right-radius: 100%;
}
div.bottom{
	height:100%;
    border-bottom-left-radius: 100%;
    border-bottom-right-radius: 100%;
}
div.lefttop{
	height:100%;
    border-top-left-radius: 100%;
}
div.leftbottom{
	height:100%;
    border-bottom-left-radius: 100%;
}
div.righttop{
	height:100%;
    border-top-right-radius: 100%;
}
div.rightbottom{
	height:100%;
    border-bottom-right-radius: 100%;
}
/*PACMAN*/
div.pacman{
    background-image: url(../img/pacman.gif);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 3em;
}

/*BED*/
div.bed {
    height: 100%;
    background-image: url(../img/bed.png);
    background-position: center;
    background-size: cover;
}
/*BOOK*/
div.book {
    height: 100%;
    background-image: url(../img/books.jpeg);
    background-position: center;
    background-size: cover;
}

/*YT*/
div.yt {
    height: 100%;
    background-image: url(../img/youtube.png);
    background-position: center;
    background-size: cover;
}

/*BOOK*/
div.reddit {
    height: 100%;
    background-image: url(../img/reddit.png);
    background-position: center;
    background-size: cover;
}
/*Xbox*/
div.xbox {
    height: 100%;
    background-image: url(../img/xbox.png);
    background-position: center;
    background-size: cover;
}

/*HN*/
div.HN {
    height: 100%;
    background-image: url(../img/HN.png);
    background-position: center;
    background-size: cover;
}

/*FB*/
div.fbmess {
    height: 100%;
    background-image: url(../img/fbmess.jpeg);
    background-position: center;
    background-size: cover;
}

/*SCORE*/
div.score{
    border: 1em solid black;
    width: 30%;
    height:3em;
    color: green;
    text-align: center;
    position:relative;
    display:block;
    left:25em;
    font-size: 300%;
}

#gameoverGood, #gameoverBadC,#gameoverBadS,#gameoverBadW, #gameoverBetter    {
    background: white;
    border: 1em solid white;
    width: 30%;
    height: 10%;
    color: black;
    text-align: center;
    position:absolute;
    display:none;

    top: 0.2em;
    left:10em;
    font-size: 28px;;
    z-index: 1;
    text-align: center;

}
